.caitlyn_massio {
    font-size: 26px;
    font-weight: 600;
    color: rgba(36, 36, 36, 0.761);
}

.caitlyn_pera {
    letter-spacing: normal;
    word-spacing: 1.3px;
    font-size: 15px;
}

.awrad {
    font-size: 26px;
}

.texttel {
    color: rgb(45, 45, 45);
    text-decoration: none;
}

.texttel2 {
    color: rgb(67, 67, 67);
    text-decoration: none;
}

.texttel:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.texttel2:hover {
    color: rgb(70, 61, 133);
    text-decoration: none;
}

.bookmark {
    font-size: 24px;
}

.best {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: normal;
}

.featured-bg {
    background-color: #F5EFF0;
}

.massio-bg {
    background-color: #F6F7FA;
}

.bg-photghraper {
    background-color: #ffffff;
}