@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Raleway+Dots&family=Raleway:ital@0;1&display=swap');

body {
  background-color: #F6F7FA;
  font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif !important;
  /* letter-spacing: 1px; */
  word-spacing: 1.1px;
}

.imgs {
  object-fit: cover !important;
  cursor: pointer;
}

.imgs2 {
  cursor: pointer;
}